<label for="input" id="input-label">请输入文库文档的url：</label>
<input type="text" id="input" name="input">
<button type="button" id="submit">提交</button>
<div id="download-content">
    <a href="" id="downloader">点我下载</a>
    <span id="txt-title">百度文库</span>
</div>