<!DOCTYPE html>
<html>
<!-- head -->
<%- include('./includes/head.ejs') %>
<body>
<div id="tips">
    问题还很大，vip文档只能爬出来试读的那部分；只能爬word格式的文档；没爬图片，感觉爬下来也不能复制，而且文字没排版，从原始数据给txt排版太麻烦了 = =
</div>
<div class="content">
    <!-- input输入框 -->
    <%- include('./includes/input.ejs') %>
    <!-- 信息反馈 -->
    <%- include('./includes/message.ejs') %>
</div>
<!-- footer -->
<%- include('./includes/footer.ejs') %>
</body>
</html>
